/* 
 *  Copyright FUJITSU LIMITED 2017
 */ 
#outline{
	height:18px;
	width:160px;
	display:block;
	margin: 8px 60px 2px 0; 
	border: 1px solid #D9D9D9;
	-moz-border-radius:3px;
	border-radius: 3px;
	float:left;
}

.strength0{
  width:25%;
  background:transparent;
  position:relative;
}

.strength1{
  width:25%;
  background:#ff0000;
  position:relative;
}

.strength2{
  width:25%;
  background:#ff0000;
  position:relative;
}

.strength3{
  width:50%;
  background:#ffff00;
  position:relative;
}

.strength4{
  width:50%;    
  background:#ffff00;
  position:relative;
}

.strength5{
  width:50%;
  background:#ffff00;
  position:relative;
}

.strength6{
  width:75%;
  background:#00ff00;
  position:relative;
}

.strength7{
  width:100%;
  background:#00ff00;
  position:relative;
}

.strength8{
  width:100%;
  background:#00ff00;
  position:relative;
}

.strength9{
  width:100%;
  background:#00ff00;
  position:relative;
}

.strength10{
  width:100%;
  background:#00ff00;
  position:relative;
}

.strength11{
  width:100%;
  background:#00ff00;
  position:relative;
}

.passwordStrength{
	line-height:20px;
	position:relative;
	top:7px;
}

