/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 heading data 1
*************************/

/* main area */
 .heading_data_1_bg_class {
    padding: 6px;
    background: #8B949C;
    box-sizing: border-box;
    height: 35px
 }

/* Make h2 heading data 1 */
.heading_data_1_class h2 {
	line-height: 160%;
	margin: 0px;
	padding: 0px 12px;
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
}