/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 Global header
*************************/

/* Main area */
#global_main_area_id{
	background: #CFD4D9;
    height: 34px;
}

/* Logo  */
#global_main_area_id #global_logo1_id {
	float: left;
	width: 100%;
	height: 34px;
	background: url(../img/global_header/oscm.png) left top no-repeat;
	overflow: hidden;
 }
 
/* Left side */
#global_main_area_id #global_left_area_id {
  float: left;
  width: 200px;
  height: 34px;
}

/* Right side */
#global_main_area_id #global_right_area_id {
	float: right;
	width: auto;
	height: 34px;
	overflow: hidden;
}

#global_right_area_id_ie6 {
	width:580px;
}

#appHeaderUserId {
  overflow: hidden;
  word-wrap: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#global_logo2_id{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    float: right;
    height: 34px;
    padding-left: 0;
    width: 20px;
}

/* String element */
#global_label_area_id p{
    float: right;
    height: 34px;
	line-height: 30px;
	color: #2C3135
}

/* font-weight for user name */
.global_username_class {
	font-weight: bold;
}

#global_label_area_id img {
	vertical-align: middle;
	height: 14px;
	margin-left: 6px;
}
/* hack IE7 */
*:first-child+html #global_label_area_id img {
	margin-left: 4px;
}
/* hack firefox */
html:not([lang*=""]) #global_label_area_id img {
	margin-left: 4px;
}

/* Logout */
#global_label_area_id a {
	margin-left: 5px;
	color: #FFFFFF;
	text-decoration: underline;
}

/* "a" element's event */
#global_label_area_id a:visited,
#global_label_area_id a:hover,
#global_label_area_id a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

/* Hack for IE 8,FireFox 3 */
html>/**/body #global_main_area_id #global_right_area_id, x:-moz-any-link, x:default {
    width: 580px;
}