/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/* Whole area container */
.middle_product_class #container_id {
	min-width: 800px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

/* Left pane area */
.middle_product_class #left_area_id {
	float: left;
	width: 249px;
	overflow: hidden;
	margin: 2px 0 0 3px;
	border: 1px solid #282E3C;
	background: #e5ebf1;
}

/* Vertical splitter */ 
.middle_product_class #pinch_vertical_id {
	cursor: w-resize;
	float: left;
	width: 5px;
	vertical-align: middle;
	margin-top: 2px;
	margin-right: 0;
	margin-left: 0;
	background: url(../img/layout/pinch_vertical.gif) center no-repeat;
}

/* Horizontal splitter */ 
.middle_product_class #pinch_horizontal_id {
	cursor: n-resize;
	height: 5px;
	margin-left: 19%;
	padding: 0;
	background: url(../img/layout/pinch_horizontal.gif) center no-repeat;
}

/* Right top pane area */
.middle_product_class #right_top_area_id {
	overflow: hidden;
	margin-top: 2px;
	margin-right: 3px;
	border: 1px solid #282E3C;
	background: #FFFFFF;
}

/* Right bottom pane area */
.middle_product_class #right_bottom_area_id {
	overflow: hidden;
	margin-top: 0;
	margin-right: 3px;
	border: 1px solid #282E3C;
	background: #FFFFFF;
}

/* Right top content area */
.middle_product_class #right_top_main_area_id {
	margin-top: 6px;
	padding-left: 12px;
}

/* Right bottom content area */
.middle_product_class #right_bottom_main_area_id {
	margin-top: 6px;
	padding-left: 12px;
}

/* Horizontal line(Bottom of heading data 2) */
hr {
	margin-bottom: 0;
	margin-right: 18px;
	padding-bottom: 0;
}

/* Explanation */
.explanation_class {
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0;
}

/* Left pane scrollable area */
#left_scroll_area_id {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 12px;
	padding-bottom: 12px;
}

/* Right top scrollable area */
#right_top_scroll_area_id {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 12px;
	padding-bottom: 12px;
}
*:first-child+html #right_top_scroll_area_id {
	margin-top: -6px; 
}

/* Right bottom scrollable area */
#right_bottom_scroll_area_id {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 12px;
	padding-bottom: 12px;
}

/*IE8 margin regulation*/
html>/**/body .scroll_wrapper_class{
	padding-bottom /*\**/: 12px\9;
}

/* When parts are nested, group those parts with this div */
div.nested_heading_data_class {
	padding-left: 6px;
	padding-right: 6px;
}