/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 menubar_toolbar
*************************/

/* Main area */
#menubar_main_area_id {
	width: 100%;
	min-width: 800px;
}

/* Separator */
.menubar_separator_class {
	width: 100%;
	height: 22px;
	background: url("../img/menubar/menubar_line.gif") bottom repeat-x;
}

/* Background */
.menubar_bg_class {
	width: 100%;
	height: 20px;
	background: #dcdcdc;
}

/* Menu contents area */
.menubar_bg_class ul {
	margin: 0px;
	padding: 0px;
}

/* Each menu items */
.menubar_bg_class li {
	display: block;
	float: left;
	line-height: 160%;
	font-size: 9pt;
}

/* "a" element regulation */
.menubar_bg_class li a,
.menubar_bg_class li a:visited  {
	display: block;
	height: 20px;
	padding: 0px 11px 0px;
	color: #333333;
	text-decoration: none;
	float: left;
}
#menubar_main_area_id li a:hover,
#menubar_main_area_id li a:active {
	height: 20px;
	color: #175DB5;
	text-decoration: none;
	background: url("../img/menubar/menubar_over.gif") 0 0 repeat;
}