/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 navi_left
*************************/

/* Main area */
#navi_main_area_id {
	width: 248px;
	line-height: 160%;
	margin: 0;
	padding: 0;
	font-size: 9pt;
	background: #e5ebf1;
}

/* Open / close icon */
#navi_main_area_id img {
	border: 0;
}

/* Navi area margin */
#navi_main_area_id ul {
	margin: 0;
	padding: 0;
}

/* Navi items */
#navi_main_area_id li {
	display: block;
	color: #333333;
}

/* Open / close regulation */
.tree_image_position_class {
	margin: 6px 6px 0 0;
}

/* root1 */
#navi_main_area_id li.navi_root1_class {
	background: #667180 url(../img/navi_left/navi_left_root_bg.gif) left top repeat-x;
}

/* contents */
#navi_main_area_id li.navi_root1_class a {
	display: block;
	width: auto;
	height: 23px;
	padding-left: 12px;
	color: #333333;
	text-decoration: none;
}

/* root2 */
#navi_main_area_id li.navi_root2_class a {
	padding-left: 27px;
}

/* root3 */
#navi_main_area_id li.navi_root3_class a {
	padding-left: 42px;
}
#navi_main_area_id li.navi_root2_class,
#navi_main_area_id li.navi_root3_class {
	background: #adb7c3 url(../img/navi_left/navi_left_branch_bg.gif) left top repeat-x;
}
#navi_main_area_id li.navi_root2_class a,
#navi_main_area_id li.navi_root3_class a {
	display: block;
	width: auto;
	height: 23px;
	text-decoration: none;
}

/* Mouse events */
#navi_main_area_id li.navi_root1_class a:hover,
#navi_main_area_id li.navi_root2_class a:hover,
#navi_main_area_id li.navi_root3_class a:hover {
	color: #175DB5;
	background: url(../img/navi_left/navi_left_branch_over.gif) left top repeat-x;
}
#navi_main_area_id li.navi_root1_class a:active, 
#navi_main_area_id li.navi_root2_class a:active,
#navi_main_area_id li.navi_root3_class a:active,
#navi_main_area_id li.navi_root1_class a:focus,
#navi_main_area_id li.navi_root2_class a:focus,
#navi_main_area_id li.navi_root3_class a:focus {
	color: #FFFFFF;
	background: url(../img/navi_left/navi_left_branch_select.gif) left top repeat-x;
}
