/* 
 *  Copyright FUJITSU LIMITED 2016 
 */
@CHARSET "UTF-8";

body {
    padding: 20px;
    background-color: white;
}
h2 {
    font-size: 30px;
    text-align: left;
}
dl {
    clear: both;
    margin: 20px 0 20px 10px;
    font-size: 12px;
}
dt {
    float: left;
    text-align: left;
}
dt::after {
    content: ":";
}
dd {
    margin-left: 30px;
    float: left;
    width: 80%;
    text-align: left;
}
.navigation td {
    text-align: center !important;
}
.rf-dt {
	min-width:300px;
	position:relative;
	width: 100%;
}