/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
body {
	margin: 0px 0px;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 25px;
	background-color: #203080;
	color: #FFFFFF;
}
td input
{
    margin-top: 3px;
    width: 200px;
}

 td {
vertical-align: top;
border-left: 1px solid #D2DBDC;
padding: 4px;
height: 25px;
line-height: 25px;
text-align: left !important;
}
td:first-child {
border-left: 0px solid #D2DBDC;
}

.rich-table.table_row_linetitle_class {
width: 95%!important;
}

.configurationSettings_area{
    min-width: 1380px;
}

.service_area{
    min-width: 1380px;
}

.description {
	background-color: #F2F3F4;
	border-bottom: 1px solid #D2DBDC;
	color: #333333;
	padding: 12px 25px 12px 25px;
	display: block;
	min-width: 1330px;
}

.panelFloat {
	float:right;
	padding: 3px 112px;
}

.statusPanel {
	color: #c39313;
	padding: 4px 25px;
	display: block;
}

.statusMessages {
	font-weight: bold;
	list-style-type: none;
	padding: 5px 0;
	margin: 0;
}

.statusRed {
	color: #aa0000;
}

.statusGreen {
	color: #006600;
}

.rich-table {
	margin: 10px 35px;
	border-right: 1px solid #D2DBDC;
	border:none;
	border-bottom:1px solid #D2D2D2;
}

.rich-table td {
	vertical-align: top;
	border-left: 1px solid #D2DBDC;
	padding: 4px;
	height: 25px;
	line-height: 25px;
}

.rich-table td:first-child {
	border-left: 0px solid #D2DBDC;
	word-break: break-all;
}

.rich-table th {
	border-left: 1px solid #808080;
	text-align: left;
	background-color: #203080;
	color: #333;
	padding: 3px;
}

.rich-table tfoot td {
	border-left: 1px solid #808080;
	text-align: left;
	background-color: #2E75D2;
	color: #FFFFFF;
	padding: 3px;
}

.rich-table tfoot a {
	color: #FFFFFF;
	font-weight: bold;
}

.rowEven td {
	background-color: #E5EBF1;
}

.rowOdd td {
	background-color: #FFFFFF;
}

.rich-mpnl-mask-div{
	opacity:0.5;
	filter: alpha(opacity=50);
	background-color:#333;
}

.rich-mpnl-content{
    background-color: #FFF !important;
    border: 1px solid #404040 !important;
    padding: 1px !important;
}

.rich-table-thead{
	border:none;
	height:19px;
}

.rich-table-cell{
	border:none;	
	border-left:1px solid #D2D2D2;
}

.rowTitle{
	border:none;	
}

.column {
  min-width:20px; 
  max-width:270px;
}

.labelAndValuePanelCol1{
	width:213px;
	max-width:213px;
	overflow:hidden;
}

.labelAndValuePanelCol2{
	width:330px;
	max-width:330px;
}

.labelAndValuePanelCol1,
.labelAndValuePanelCol2{
	padding:4px 0;
	line-height:20px;
	vertical-align:top;
	text-overflow:ellipsis;
}

.buttonPanel{ 
	
	padding:4px 0;
}

.img{
    margin:3px 0 0 6px;
}

.close{
	width:16px;
	height:16px;
	margin:1px;
	background: url("../img/modalIcons.png") no-repeat -17px 0;
}

.scrollAuto {
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  height: 400px;
}

.step {
  display: block;
  font-weight: bold;
  font-size:12px;
  padding-left: 10px;
  background-color: #A7BCD7;
  color: #333333;
  margin:12px 0;
  border-bottom:solid 1px #adb7c3;
}

.button {
  margin: 0 2px 0 0;
  display: block;
  float: right;
  padding: 0 4px 0 0;
  border: 0;
  background: url(../img/button/btn_var_right.gif) right 0 no-repeat;
  color: #333;
  font-size: 9pt;
  line-height:130%;
  text-decoration: none;
}
.button:visited {
  background: url(../img/button/btn_var_right.gif) right 0 no-repeat;
	
  text-decoration: none;
  color: #333;
}
.button:hover {
  background: url(../img/button/btn_var_right.gif) right -30px no-repeat;
  color: #175DB5;
  text-decoration: none;
}
.button:active {
  background: url(../img/button/btn_var_right.gif) right -60px no-repeat;
}

.button span {
  display: block;
  padding: 2px 8px 3px 12px;
  background: url(../img/button/btn_var_bg.gif) left 0 no-repeat;
}


.buttonDisabled {
  margin: 0 2px 0 0;
  display: block;
  float: right;
  padding: 0 4px 0 0;
  border: 0;
  background: url(../img/button/btn_var_right.gif) right -120px no-repeat;
  color: #777;
  font-size: 9pt;
  line-height:130%;
  text-decoration: none;
}

.buttonDisabled span {
  display: block;
  padding: 2px 8px 3px 12px;
  background: url(../img/button/btn_var_bg.gif) left -120px no-repeat;
  text-decoration: none;
}


.buttonImg{
	width: 16px;
	height: 15px;
	line-height: 14px;
	vertical-align: text-top;
	border:0!important;
	display:none;
	margin:0 4px 0 -6px;
	background: url(../img/glyphicons-halflings.png) 0 0 no-repeat;
	display:inline-block;
	*display:inline;
	zoom:1;	
}

.buttonDisabled .buttonImg{
	opacity:0.5;	
	filter:alpha(opacity=50);
}

.buttonImg.execute{background-position:-261px -72px;}

/* middleware style */
.box_area_class {
margin-top: 12px;
padding: 2px;
border: 1px solid #adb7c3;
min-width: 1374px;
}
.buttonPanel {
margin: 4px 0px 0px 0px;
padding: 2px 0px 2px 10px;
border-top: 1px solid #ADB7C3;
background-color: #DCDCDC;
}

.label {
    min-width: 100px;
    white-space: normal;
    position: relative;
    padding: 0 12px 0 0;
    vertical-align: middle;
    display: block !important;
    line-height: 20px;
    margin-top: 1px;
}

.labelVersion {
    padding-left: 15px;
}

.rf-pp-hdr{
	background: #717980 !important;
}

