/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 Tab(blue)
*************************/

/* Main area */
.tabs_main_area_class {
	width: 100%;
	min-width: 800px;
	height: 21px;
	overflow: hidden;
	padding: 2px 0 0 0;
	background: url(../img/tab/tab_bg.gif) left top repeat-x;

}

/* Tab group */
.tabs_main_area_class ul {
	list-style: none;
	height: 19px;
	margin: 0 0 0 10px;
	padding: 0 0 0 4px;
	background: url("../img/tab/tab_line.gif") left top no-repeat;
}

/* Tab items */
.tabs_main_area_class li {
	display: block;
	float: left;
	height: 19px;
	line-height: 130%;
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-weight: bold;
}

/* Clickable area regulation */
.tabs_main_area_class a {
	cursor: pointer;
	display: block;
	float: left;
	height: 19px;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

/* Clickable area regulation */
.tabs_main_area_class a span {
	float: left;
	display: block;
	height: 19px;
	background: url("../img/tab/tab_line.gif") right top no-repeat;
	padding: 0px 12px 2px 6px;
	color: #FFFFFF;
	text-decoration: none;
}

/* Left side img(hover) */
.tabs_main_area_class a:hover {
	background: url("../img/tab/tab_hover_l.gif") left top no-repeat;
}

/* Right side img and label color(hover) */
.tabs_main_area_class a:hover span {
	color: #175DB5;
	background: url("../img/tab/tab_hover_r.gif") right top no-repeat;
}

/* Left side img(selected) */
.tabs_main_area_class li.tabs_select_class a {
	display: block;
	float: left;
	height: 19px;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
	background: url("../img/tab/tab_select_l.gif") left top no-repeat;
}

/* Right side area(selected) */
.tabs_main_area_class li.tabs_select_class a span {
	display: block;
	float: left;
	height: 19px;
	background: url("../img/tab/tab_select_r.gif") right top no-repeat;
	padding: 0px 12px 2px 6px;
	color: #282E3C;
	text-decoration: none;
}