/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";
/*************************
 base
*************************/

/* Whole area */
html {
	/*background: url("../img/mainarea_bg.gif");*/
}

/* Whole label regulation */
body {
	color: #333333;
	font-family: Arial, sans-serif;
	font-weight: normal;
}

/* "a" element regulation */
a {
	color: #175DB5;
	text-decoration: underline;
}
a:visited {
	color: #175DB5;
	text-decoration: underline;
} 
a:hover {
	color: #0C246F;
	text-decoration: underline;
}
a:active {
	color: #0C246F;
	text-decoration: underline;
}

/* table */
td {
	vertical-align: top;
	padding: 2px 7px;
}

th {
	font-weight: bold;
	text-align: left;
}
