/createCustomUda.htm
/error_database_notAvailable.htm
/error_invalid_samlResponse.htm
/error_login_impossible.htm
/error_login_samlsp.htm
/error_subscription_parseKey.htm
/error_subscription_subscriptionNotFound.htm
/error_user_locked.htm
/error_user_lockedNotConfirmed.htm
/marketplace_create.htm
/marketplace_customizeLandingpage.htm
/marketplace_delete.htm
/marketplace_gotoMarketplace.htm
/marketplace_manageBrokerRevenueShare.htm
/marketplace_manageCategories.htm
/marketplace_manageResellerRevenueShare.htm
/marketplace_manageSuppliers.htm
/marketplace_manageSuppliers_notselected.htm
/marketplace_manageSuppliers_open.htm
/marketplace_update.htm
/operator_createOrganization.htm
/operator_createPSP.htm
/operator_executeBillingTasks.htm
/operator_exportAuditLogData.htm
/operator_exportBillingData.htm
/operator_manageConfiguration.htm
/operator_manageCurrencies.htm
/operator_manageLanguages.htm
/operator_manageLdapSettings.htm
/operator_manageOperatorRevenueShare.htm
/operator_manageOrganizations.htm
/operator_managePSPs.htm
/operator_manageTimers.htm
/operator_manageUsers.htm
/organization_addCustomer.htm
/organization_edit.htm
/organization_editCustomer.htm
/organization_ldapSettings.htm
/organization_managePaymentEnablement.htm
/organization_managePaymentTypes.htm
/organization_manageSuppliers.htm
/organization_manageTriggerDetails.htm
/organization_manageTriggers.htm
/organization_manageUdas.htm
/organization_manageVats.htm
/organization_report.htm
/organization_viewCustomer.htm
/priceModel_customer.htm
/priceModel_customer_delete.htm
/priceModel_localize.htm
/priceModel_roles.htm
/priceModel_service.htm
/priceModel_subscription.htm
/psp_managePaymentTypes.htm
/public_changepassword.htm
/public_completepwdrecovery.htm
/public_confirm.htm
/public_confirmpwdrecovery.htm
/public_login.htm
/public_privacypolicy.htm
/public_pwd.htm
/public_recoverpassword.htm
/public_registration.htm
/public_registrationok.htm
/public_serviceusage.htm
/public_slogout.htm
/public_terms.htm
/service_activation.htm
/service_add.htm
/service_copy.htm
/service_delete.htm
/service_edit.htm
/service_localize.htm
/service_manage.htm
/service_publish.htm
/service_upgradeOptions.htm
/service_view.htm
/service_viewPMDetails.htm
/shop_customizeBrand.htm
/shop_editStage.htm
/shop_trackingCode.htm
/shop_translations.htm
/subscription_editUdas.htm
/subscription_terminate.htm
/subscription_view.htm
/techService_add.htm
/techService_delete.htm
/techService_detail.htm
/techService_edit.htm
/techService_export.htm
/techService_import.htm
/triggerProcess_list.htm
/updateCustomUda.htm
/user_add.htm
/user_exportBillingData.htm
/user_import.htm
/user_list.htm
/user_manageBilling.htm
/user_pwd.htm
