[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DawidCh
[access "refs/for/refs/*"]
	read = group user/DawidCh
	push = group user/DawidCh
	label-Code-Review = -2..+2 group user/DawidCh
	label-Verified = -1..+1 group user/DawidCh
	rebase = group user/DawidCh
	removeReviewer = group user/DawidCh
	submit = group user/DawidCh
[access "refs/heads/*"]
	read = group user/DawidCh
	create = group user/DawidCh
	push = +force group user/DawidCh
	pushMerge = group user/DawidCh
[access "refs/tags/*"]
	push = +force group user/DawidCh
	pushTag = group user/DawidCh
	pushSignedTag = group user/DawidCh
[receive]
	requireSignedOffBy = true
