/* 
 *  Copyright FUJITSU LIMITED 2017
 */ 
body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	background-color: #ffffff;
}
td {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}


a {
	color: #175db5;
	text-decoration: none;
}


div.oplist {
	background-color: #e5ebf1;
}
div.oplist h1 {
	background:url(group_bg.gif) repeat-x bottom;
	margin-top: 0pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 10pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-weight: normal;
	border-bottom: 1px solid #667180;
}
div.oplist ul {
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0pt;
}
div.oplist li {
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 10pt;
	list-style-type: none;
	border-bottom: 1px solid #adb7c3;
}


div.requestlog div.logentry {
	margin: 5pt 5pt 5pt 5pt;
}
div.requestlog div.logentry {
	background-color: #f2f3f4;
	padding: 5pt 10pt 5pt 10pt;
	margin-bottom: 5pt;
}
div.requestlog h1 {
	margin-top: 0pt;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 20px;
}
div.requestlog h1.INBOUND {
	background:url(inbound.gif) no-repeat;
}
div.requestlog h1.OUTBOUND {
	background:url(outbound.gif) no-repeat;
}
div.requestlog div.timestamp {
	float:right;
}


div.requestform {
	margin: 10pt 10pt 10pt 15pt;
}
div.requestform h1 {
	margin-top: 0pt;
	font-size: 10pt;
	font-weight: bold;
}


table.params {
    border-spacing:0px
}
table.params td {
    border-spacing:0px;
    padding-left: 5pt;
    padding-right: 5pt;
}
table.params thead {
	background-color: #adb7c3;
}
table.params thead td {
	font-weight: bold;
	border-bottom: solid 1px #404753;
}
table.params tbody td {
	border-bottom: solid 1px #d2d2d2;
}

.trace {
  color: #800000;
  font-size: 9pt;
}