<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2016-->
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" version="2.5">

  <display-name>Business Enablement Services</display-name>


  <!-- CONTEXT PARAMETERS -->
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
    <context-param>
        <param-name>org.richfaces.queue.global.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
  <context-param>
    <!-- Setting this to true will cause the FaceletViewHandler to print out debug information in an easy to use screen when 
      an error occurs during the rendering process. -->
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.skin</param-name>
    <param-value>template</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.enableControlSkinning</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.enableControlSkinningClasses</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/facelets/tags/taglib.xml;/WEB-INF/facelets/tags/marketplace/taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- The following parameters are set to reduce memory consumption. These parameters might affect browser navigation. This 
    was accepted, because at the current point it is not working anyway. -->
  <context-param>
    <description></description>
    <param-name>com.sun.faces.numberOfViewsInSession</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <description></description>
    <param-name>com.sun.faces.numberOfLogicalViews</param-name>
    <param-value>1</param-value>
  </context-param>
  <!-- Set following parameter to -1 for disabling refresh of web content in order to avoid potential JSF component flushing. -->
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>-1</param-value>
  </context-param>
  <context-param> 
    <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- SERVLETS -->
  <servlet>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>org.oscm.ui.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>



  <!-- SERVLET FILTER -->
  <filter>
    <display-name>IdP Logout Filter</display-name>
    <filter-name>IdPLogoutFilter</filter-name>
    <filter-class>org.oscm.ui.filter.IdPLogoutFilter</filter-class>
    <init-param>
      <param-name>exclude-url-pattern</param-name>
      <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/fonts/.*|.*/scripts/.*|.*/faq/.*|^/slogout.jsf|^/public/.*|^/marketplace/terms/.*)</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>DisableUrlSessionFilter</filter-name>
    <filter-class>org.oscm.ui.filter.DisableUrlSessionFilter</filter-class>
    <init-param>
      <param-name>exclude-url-pattern</param-name>
      <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/fonts/.*|.*/scripts/.*|.*/faq/.*|.*/org.richfaces.resources|.*/javax.faces.resource/.*|^/public/.*)</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>Disabled Methods Filter</display-name>
    <filter-name>disabledHttpMethods</filter-name>
    <filter-class>org.oscm.ui.filter.HttpMethodFilter</filter-class>
  </filter>
  <filter>
    <display-name>Css Filter</display-name>
    <filter-name>css</filter-name>
    <filter-class>org.oscm.ui.filter.CssFilter</filter-class>
  </filter>
   
  <filter>
    <display-name>Illegal Request Parameter Filter</display-name>
    <filter-name>IllegalRequestParameterFilter</filter-name>
    <filter-class>org.oscm.ui.filter.IllegalRequestParameterFilter</filter-class>
    <init-param>
      <param-name>ignore-patterns</param-name>
      <param-value>SAML.*,RelayState</param-value>
    </init-param>
    <init-param>
      <param-name>forbidden-patterns</param-name>
      <param-value>\x00,\x04,\x08,\x0a,\x0d</param-value>
    </init-param>
    <init-param>
      <param-name>exclude-url-pattern</param-name>
      <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/fonts/.*|.*/scripts/.*)</param-value>
    </init-param>
  </filter>
  
  <filter>
    <display-name>Marketplace Context Filter</display-name>
    <filter-name>mpCtx</filter-name>
    <filter-class>org.oscm.ui.filter.MarketplaceContextFilter</filter-class>
    <init-param>
      <param-name>login-class</param-name>
      <param-value>com.sun.web.security.WebProgrammaticLoginImpl</param-value>
    </init-param>
    <init-param>
      <param-name>realm</param-name>
      <param-value>bss-realm</param-value>
    </init-param>
    <init-param>
      <param-name>public-url-pattern</param-name>
      <param-value>(^/a4j/.*|^/slogout.jsf|^/saml2/redirectToIdp.jsf*|^/saml2/saml2PostInclude.jsf*|^/public/.*|^/marketplace/terms/.*|^/marketplace/[^/\?#]*([\?#].*)?)</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>IdP Response Filter</display-name>
    <filter-name>IdPResponseFilter</filter-name>
    <filter-class>org.oscm.ui.filter.IdPResponseFilter</filter-class>
    <init-param>
      <param-name>exclude-url-pattern</param-name>
      <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/fonts/.*|.*/scripts/.*|.*/faq/.*|^/slogout.jsf|^/public/.*|^/marketplace/terms/.*)</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>Closed Marketplace Filter</display-name>
    <filter-name>ClosedMarketplaceFilter</filter-name>
    <filter-class>org.oscm.ui.filter.ClosedMarketplaceFilter</filter-class>
    <init-param>
      <param-name>exclude-url-pattern</param-name>
      <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/fonts/.*|.*/scripts/.*|.*/faq/.*|^/slogout.jsf|^/public/
        .*|^/marketplace/terms/.*|.*/marketplace/img/.*|^/marketplace/recoverPassword.jsf|^/marketplace/confirmStartPwdRecovery.jsf|^/marketplace/insufficientAuthorities.jsf)</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>Authorization Filter</display-name>
    <filter-name>auth</filter-name>
    <filter-class>org.oscm.ui.filter.AuthorizationFilter</filter-class>
    <init-param>
      <param-name>login-class</param-name>
      <param-value>com.sun.web.security.WebProgrammaticLoginImpl</param-value>
    </init-param>
    <init-param>
      <param-name>realm</param-name>
      <param-value>bss-realm</param-value>
    </init-param>
    <init-param>
      <param-name>public-url-pattern</param-name>
      <param-value>(^/a4j/.*|^/slogout.jsf|^/saml2/redirectToIdp.jsf*|^/saml2/saml2PostInclude.jsf*|^/public/.*|^/marketplace/terms/.*|^/marketplace/[^/\?#]*([\?#].*)?)|^/javax.faces.resource/.*</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Rewriter</filter-name>
    <filter-class>net.sf.j2ep.RewriteFilter</filter-class>
    <init-param>
      <param-name>dataUrl</param-name>
      <param-value>/WEB-INF/conf/data.xml</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Proxy</filter-name>
    <filter-class>net.sf.j2ep.ProxyFilter</filter-class>
    <init-param>
      <param-name>dataUrl</param-name>
      <param-value>/WEB-INF/conf/data.xml</param-value>
    </init-param>
  </filter>
  <!-- Extensions FILTER, parses multipart requests (should be to execute *AFTER* RichFaces filter) -->
  <filter>
    <filter-name>Extensions Filter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
    <init-param>
      <description>Set the size limit for uploaded files.
        Format: 10 - 10 bytes
                10k - 10 KB
                10m - 10 MB
                1g - 1 GB
      </description>
      <param-name>uploadMaxFileSize</param-name>
      <param-value>20m</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>RichFacesFirefox11Filter</filter-name>
    <filter-class>org.oscm.ui.filter.RichFacesFirefox11Filter</filter-class>
  </filter>
  <filter>
    <filter-name>NonexistentConversationFilter</filter-name>
    <filter-class>org.oscm.ui.filter.NonexistentConversationFilter</filter-class>
  </filter>
  <filter>
    <display-name>Role-based filter</display-name>
    <filter-name>RoleBasedFilter</filter-name>
    <filter-class>org.oscm.ui.filter.RoleBasedFilter</filter-class>
    <init-param>
      <param-name>login-class</param-name>
      <param-value>com.sun.web.security.WebProgrammaticLoginImpl</param-value>
    </init-param>
    <init-param>
      <param-name>realm</param-name>
      <param-value>bss-realm</param-value>
    </init-param>
    <init-param>
      <param-name>public-url-pattern</param-name>
      <param-value>(^/a4j/.*|^/slogout.jsf|^/saml2/redirectToIdp.jsp*|^/saml2/saml2PostInclude.jsf*|^/public/.*|^/marketplace/terms/.*|^/marketplace/[^/\?#]*([\?#].*)?)|^/javax.faces.resource/.*
      </param-value>
    </init-param>
  </filter>
  <filter>  
    <filter-name>DisableUrlFilter</filter-name>  
    <filter-class>org.oscm.ui.filter.DisableUrlFilter</filter-class>  
  </filter>

  <!-- SERVLET FILTER MAPPINGS -->
  <!-- warning: changing the order of filter mappings has impact on the execution order of filters (filter chain) -->
  <!-- see servlet specification for details -->
  <filter-mapping>
    <filter-name>DisableUrlSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>disabledHttpMethods</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>css</filter-name>
    <url-pattern>/public/*</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>IdPResponseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IllegalRequestParameterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mpCtx</filter-name>
    <url-pattern>/opt/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mpCtx</filter-name>
    <url-pattern>/reporting/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>mpCtx</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>NonexistentConversationFilter</filter-name>
    <url-pattern>/marketplace/subscriptions/creation/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>NonexistentConversationFilter</filter-name>
    <url-pattern>/marketplace/subscriptions/upgrade/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>NonexistentConversationFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IdPLogoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/opt/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <url-pattern>/reporting/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>auth</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClosedMarketplaceFilter</filter-name>
    <url-pattern>/marketplace/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Rewriter</filter-name>
    <url-pattern>/opt/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Proxy</filter-name>
    <url-pattern>/opt/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Extensions Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RichFacesFirefox11Filter</filter-name>
    <url-pattern>/a4j/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleBasedFilter</filter-name>
    <url-pattern>/marketplace/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DisableUrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>

  <!-- LISTENERS -->
  <listener>
    <listener-class>org.oscm.ui.common.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.oscm.ui.common.LoggerInitListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>8</session-timeout>
  </session-config>

  <!-- SECURITY CONSTRAINTS -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Content</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <!-- SECURITY ROLES -->
  <security-role>
    <role-name>PlatformUser</role-name>
  </security-role>
  <security-role>
    <role-name>OrganizationAdmin</role-name>
  </security-role>
</web-app>
