/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
.rf-pp-cnt-scrlr {
    left: 0;
    overflow: hidden;
    top: 0;
}

.rf-pp-cntr {
    background-color: #FFFFFF !important;
    border: 1px solid #404040 !important;
    padding: 1px !important;
}

.rf-pp-hdr {
	background-color: #1D4789;
	border: 1px solid;
    cursor: move;
    padding: 2px;
    position: relative;
}

.rf-pp-hdr-cnt {
    color: #FFFFFF;
    font-weight: bold;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rf-pp-shdw {
	background-color: #FFFFFF;
}

.rf-pp-shade {
    background-color: #333333;
}

.rf-pp-cnt-scrlr .buttonPanel {
	position:absolute;
    bottom:0;   
    display:block;
    width:100%;
    bottom:0px;
    left:0px;
    border:none;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.headerIcon {
    float: right;
    cursor: pointer;
    margin: 0px 2px 0 0;
    border: none;
    padding: 0px;
}

#versionRerenderPanel .desp-panel {
    padding: 1px!important;
}

.desp-panel {
    padding: 8px 12px;
    line-height: 1.5em;
    border-bottom: solid 1px #d2dbdc;
    margin: 0 -1px -1px;
    color: #333;
    font-weight: normal;
    display: block;
}

.rf-pp-cnt {
    padding: 0;
}

.button {
  margin: 0 2px 0 0;
  display: block;
  float: right;
  padding: 0 4px 0 0;
  border: 0;
  background: url(../img/button/btn_var_right.gif) right 0 no-repeat;
  color: #333;
  font-size: 9pt;
  line-height:130%;
  text-decoration: none;
}
.button:visited {
  background: url(../img/button/btn_var_right.gif) right 0 no-repeat;
    
  text-decoration: none;
  color: #333;
}
.button:hover {
  background: url(../img/button/btn_var_right.gif) right -30px no-repeat;
  color: #175DB5;
  text-decoration: none;
}
.button:active {
  background: url(../img/button/btn_var_right.gif) right -60px no-repeat;
}

.button span {
  display: block;
  padding: 2px 8px 3px 12px;
  background: url(../img/button/btn_var_bg.gif) left 0 no-repeat;
  text-align: center;
}


.buttonDisabled {
  margin: 0 2px 0 0;
  display: block;
  float: right;
  padding: 0 4px 0 0;
  border: 0;
  background: url(../img/button/btn_var_right.gif) right -120px no-repeat;
  color: #777;
  font-size: 9pt;
  line-height:130%;
  text-decoration: none;
}

.buttonDisabled span {
  display: block;
  padding: 2px 8px 3px 12px;
  background: url(../img/button/btn_var_bg.gif) left -120px no-repeat;
  text-decoration: none;
  text-align: center;
}

.button:visited span {
    background: url(../img/button/btn_var_bg.gif) left 0 no-repeat;
}

.button, .buttonDisabled {
    min-width: 78px;
}

.button:visited {
  background: url(../img/button/btn_var_right.gif) right 0 no-repeat;
    text-decoration: none;
  color: #333;
}

.button:visited span {
  background: url(../img/button/btn_var_bg.gif) left 0 no-repeat;
}
.button:hover span {
  background: url(../img/button/btn_var_bg.gif) left -30px no-repeat;
}
.button:active span {
  background: url(../img/button/btn_var_bg.gif) left -60px no-repeat;
}
