<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Mock Product</display-name>

  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>org.oscm.integrationtests.mockproduct.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>


<!-- The following servlet configuration is a sample for the integration of the 
     token handler into an web application. The url pattern "/login" 
     would have to be used as login url in the descriptor of the product-->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.oscm.integrationtests.mockproduct.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
<!-- End of the servlet configuration  -->

  <servlet>
    <servlet-name>ExecuteServlet</servlet-name>
    <servlet-class>org.oscm.integrationtests.mockproduct.ExecuteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteServlet</servlet-name>
    <url-pattern>/execute</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SaveSettingsServlet</servlet-name>
    <servlet-class>org.oscm.integrationtests.mockproduct.SaveSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSettingsServlet</servlet-name>
    <url-pattern>/savesettings</url-pattern>
  </servlet-mapping>

<!--   Basic Auth security configuration -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Area</web-resource-name>
      <url-pattern>/ProvisioningService</url-pattern>
      <url-pattern>/OperationService</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>BES</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>

  <security-role>
    <role-name>BES</role-name>
  </security-role>
  
</web-app>

