<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2016-->
 
<web-app id="ADMUM_AppUI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 version="2.5">

 <display-name>APP Core User Interface</display-name>

 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.REFRESH_PERIOD</param-name>
  <param-value>2</param-value>
 </context-param>
 <context-param>
  <!-- Setting this to true will cause the FaceletViewHandler to print out debug information in an easy to use screen when 
   an error occurs during the rendering process. -->
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
<context-param>
    <param-name>org.richfaces.skin</param-name>
    <param-value>plain</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.enableControlSkinning</param-name>
    <param-value>false</param-value>
 </context-param>
 <context-param>
    <param-name>org.richfaces.enableControlSkinningClasses</param-name>
    <param-value>true</param-value>
 </context-param>
 <context-param>
   <param-name>facelets.LIBRARIES</param-name>
   <param-value>/WEB-INF/facelets/tags/taglib.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- The following parameters are set to reduce memory consumption. These parameters might affect browser navigation. This 
  was accepted, because at the current point it is not working anyway. -->
 <context-param>
  <description></description>
  <param-name>com.sun.faces.numberOfViewsInSession</param-name>
  <param-value>1</param-value>
 </context-param>
 <context-param>
  <description></description>
  <param-name>com.sun.faces.numberOfLogicalViews</param-name>
  <param-value>1</param-value>
 </context-param>

 <servlet>
  <servlet-name>AppNotificationServlet</servlet-name>
  <servlet-class>org.oscm.app.servlet.NotificationServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>AppNotificationServlet</servlet-name>
  <url-pattern>/notify</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <filter>
  <display-name>Authorization Filter</display-name>
  <filter-name>auth</filter-name>
  <filter-class>org.oscm.app.ui.filter.AuthorizationFilter</filter-class>
  <init-param>
    <param-name>exclude-url-pattern</param-name>
    <param-value>(.*/a4j/.*|.*/img/.*|.*/css/.*|.*/scripts/.*|.*/javax.faces.resource/.*|.*/rfRes/.*)</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>auth</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>

 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>

 <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
 </error-page>

 <!-- To refer local EJB's -->
 <ejb-local-ref>
  <ejb-ref-name>ejb/APPConfigurationService</ejb-ref-name>
  <ejb-ref-type>Session</ejb-ref-type>
  <local>org.oscm.app.v2_0.service.APPConfigurationServiceBean</local>
 </ejb-local-ref>
  <ejb-local-ref>
  <ejb-ref-name>ejb/ServiceInstanceService</ejb-ref-name>
  <ejb-ref-type>Session</ejb-ref-type>
  <local>org.oscm.app.v2_0.service.ServiceInstanceServiceBean</local>
 </ejb-local-ref>
 <ejb-local-ref>
  <ejb-ref-name>ejb/APPTimerService</ejb-ref-name>
  <ejb-ref-type>Session</ejb-ref-type>
  <local>org.oscm.app.v2_0.service.APPTimerServiceBean</local>
 </ejb-local-ref>
</web-app>