<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  id="WebApp_ID" version="3.1">
  <display-name>oscm-pspresponse</display-name>
  <servlet>
    <description></description>
    <display-name>PSPResponse</display-name>
    <servlet-name>PSPResponse</servlet-name>
    <servlet-class>org.oscm.ui.servlet.PSPResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSPResponse</servlet-name>
    <url-pattern>/PSPResponse</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Area</web-resource-name>
      <url-pattern>/PSPResponse</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-role>
    <role-name>OrganizationAdmin</role-name>
  </security-role>

</web-app>