/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 Button common
*************************/

/* base */
button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent; 
}

/* Label size */
button span {
	font-size: 10pt;
}

/* Display area */
.button_main_area_class {
	display: block;
	margin: 6px 0 0 0;
}

/* Changeable-width button（normal） */
.button_normal_class {
	overflow: visible;
	margin-top:3px;
	padding: 0;
	border: 0;
	color: #333333;
	font-size: 10pt;
	text-decoration: none;
	white-space: nowrap; 
	background-color: transparent; 
}

/*Hack for Firefox*/
.button_normal_class, x:-moz-any-link{
		margin: 0 -4px 0 0;
}

/*Hack for IE7*/
*:first-child+html .button_normal_class {
	margin-right: 6px; 
}

/* Label(normal) */
span.button_content_class {
	display: inline-block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 8px 0 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left 0px; 
}

/* Button right part(normal) */
span.button_right_part_class {
	display: inline-block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right 0px; 
}

/* Changeable-width button（hover） */
.button_over_class {
	overflow: visible; 
	margin: 0 1px 0 0;
	padding: 0;
	border : 0;
	color: #175db5; 
	font-size: 10pt; 
	text-decoration: none;
	white-space: nowrap; 
	background-color: transparent; 
}

/*Hack for Firefox*/
.button_over_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/*Hack for IE7*/
*:first-child+html .button_over_class {
	margin-right: 6px; 
}

/* Label(hover) */
.button_over_class span.button_content_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 8px 0 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -30px; 
}

/*Button right part(hover)*/
.button_over_class span.button_right_part_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -30px; 
}


/* Changeable-width button（mouse down） */
.button_down_class {
	overflow: visible; 
	margin: 0 1px 0 0;
	padding: 0; 
	border: 0;
	color: #175db5; 
	font-size: 10pt; 
	text-decoration: none;
	white-space: nowrap; 
	background-color: transparent; 
}

/*Hack for Firefox*/
.button_down_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/* Hack for IE7 */
*:first-child+html .button_down_class {
	margin-right: 6px; 
}

/* Label(mouse down) */
.button_down_class span.button_content_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 8px 0px 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -60px; 
}

/* Button right part(down) */
.button_down_class span.button_right_part_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -60px; 
}

/* Changeable-width button（mouse down） */
.button_disabled_class {
	overflow: visible;
	cursor: default;
	margin-top:3px;
	padding: 0; 
	border: 0;
	color: #777777;
	font-size: 10pt; 
	text-decoration: none;
	white-space: nowrap; 
	background-color: transparent; 
}

/*Hack for Firefox*/
.button_disabled_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/* Hack for IE7 */
*:first-child+html .button_disabled_class {
	margin-right: 6px; 
}

/* Label(mouse down) */
.button_disabled_class span.button_content_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 8px 0px 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -120px; 
}

/* Button right part(down) */
.button_disabled_class span.button_right_part_class {
	display: block; 
	min-height: 21px; 
	line-height: 21px; 
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -120px; 
}