/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 Heading data 4
*************************/

/* Main area */
.heading_data_4_bg_class {
	width: 100%;
	height: 21px;
	overflow: hidden;
	margin-top: 12px;
	background: url("../img/heading_data_4/heading_data_4_bg.gif") repeat-x;
}

/* Content display regulation */
.heading_data_4_class h4 {
	cursor: pointer;
	line-height: 160%;
	margin: 0px;
	padding: 0px 12px;
	color: #282E3C;
	font-size: 10pt;
	font-weight: bold;
}

/* Background(close) */
.heading_data_4_class h4.heading_data_4_close_mark_class {
	padding: 0px 24px;
	background: url("../img/heading_data_4/heading_data_4_open.gif") top left no-repeat;
	background-position: 8px 0px;
}

/* Background(open) */
.heading_data_4_class h4.heading_data_4_open_mark_class {
	padding: 0px 24px;
	background: url("../img/heading_data_4/heading_data_4_down.gif") top left no-repeat;
	background-position: 8px 0px;
}