/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
@charset "utf-8";

/*************************
 menubar_toolbar
*************************/

/* ツールバー表示領域 */
#toolbar_main_area_id {
	min-width: 800px;
	width: 100%;
}

/* ツールバーコンテンツ領域 */
.toolbar_contents_class {
	width: 100%;
	height: 29px;
	background: #dcdcdc url("../img/toolbar/toolbar_img.gif") bottom repeat-x;
}

/* ツールバー全体の余白定義 */
.toolbar_contents_class ul {
	margin: 0 0 0 12px;
	padding: 2px 0;
}

/* ツールバー項目の定義 */
.toolbar_contents_class li {
	display: block;
	float: left;
}

/* ツールバー項目表示内容の定義 */
.toolbar_contents_class li a {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 6px 0 0;
	padding: 3px 4px;
}
.toolbar_contents_class li a:hover {
	background: url("../img/toolbar/icon_bg.gif") center no-repeat;
}

/* セパレータ定義 */
.toolbar_contents_class li.toolbar_separator_class {
	margin: 0 10px 0 4px;
}