/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
body {
	margin: 0px 0px;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.titleArea {
	padding: 10px 25px;
	background-color: #203080;
	color: #FFFFFF;
}

.titleArea a,
.titleArea a:link,
.titleArea a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

.titleArea a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000D0;
}

table.vmwreport td {
	border: 1px solid #D2DBDC;
	margin: 0px;
}

table.vmwreport th {
	background-color: #F2F3F4;
	margin: 0px;
}

td {
	padding: 2px;
	height: 18px;
	line-height: 18px;
}

.description {
	background-color: #F2F3F4;
	border-bottom: 1px solid #D2DBDC;
    color: #333333;	
	padding: 12px 25px 12px 25px;
	display: block;
}

.selectedPage {
	font-weight: bold;
}

.box {
	padding: 5px 5px 5px 25px;
	display: block;
}

.statusPanelClass {
    color: #F40239;	
	padding: 12px 5px 4px 25px;
	display: block;
	font-weight: bold;
}


.rf-dt {
	margin: 10px 25px;
}

#vsphereSettings.rf-dt {
	margin: 0px;
	margin-top: 10px;
}

#vsphereSettings input {
  background-image: none;
}

*.rf-dt-c {
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    padding: 4px;
}

*.rf-dt-shdr-c {
    font-weight: bold;
    padding: 4px;
}

input.button_normal_class {
  background-image: none !important;
  color: #333333 !important;
  font-size: 10pt !important;
  background-color: transparent !important;
}

#balancer_form .rf-dt-c > input {
  font-size: inherit !important;
  font-family: inherit !important;
  border-color: #C4C0B9;
}

div.heading_data_1_bg_class.no-height {
  height: initial;
  height: auto;
}

div.heading_data_1_bg_class.no-height > a {
  color: #fff;
  margin-left: 12px;
}

table.rf-dt.table_row_linetitle_class {
  border-bottom: none;
}

#vcenterTable {
  margin-left: 10px;
}

#vcenterTable td {
  padding: 0px;
}

#vcenterTable th {
  padding-bottom: 5px;
}

#vcenterTable select {
  height: 18px;
  background-image: none;
  min-width: 200px;
}
