/* 
 *  Copyright FUJITSU LIMITED 2016 
 */ 
body, th, td {font-family:arial,sans-serif; font-size: 80%; margin:8;}

a:link, a:active, a:visited{color:#0000CC}

form{margin:0}
.formtext {background-color: #ffffff ! important}

body {background-color: RGB(240,255,250); }

/* titles */
.t {font-weight: bold; font-size: 150%;}


/* footer */
.f {font-size:70%; color: #676767; line-height: 150%;}

/* data lists for content what wraps out of the cell */
.l {table-layout:fixed; text-align: left;}
.l td {
    white-space: nowrap;	vertical-align: top;
	border-bottom: solid;
	border-width: 1px; border-color: #dddddd;
 } 
.l div {overflow: hidden;}
.l .e {padding-right: 2em;}
.l tbody {cursor: pointer} 
.l thead {background-color: #E8EEF7;}
.l thead th {font-weight: normal; white-space: nowrap; border-bottom: solid; border-width: 1px; border-color: #dddddd;}

/* data lists for solid contents, where text holds out the cell */
.ls { text-align: left;}
.ls td {
    white-space: nowrap;	vertical-align: top;
	border-bottom: solid;
	border-width: 1px; border-color: #dddddd; } 
.ls tbody {cursor: pointer} 
.ls thead {background-color: #E8EEF7;}
.ls thead th {font-weight: normal; white-space: nowrap; border-bottom: solid; border-width: 1px; border-color: #dddddd;}

.hr { border-top: 1px solid #dddddd;}

/* left nav */
.ln td {white-space: nowrap; padding-right: 6;}
.ln {width: 140px; margin-left: 10}


/* Unimportant text */
.u {font-size:100%; color: #676767}
.u a:link, .u a:active, .u a:visited {color: #7777CC}
.u2 {font-size:90%; color: #676767}

/* text styles: new, admin, suspended, error*/
.new {font-size:90%; color: #008000}
.adm {font-size:90%; color: #cc5500}
.sus {font-size:90%; color: #cc0000}
.err {color: #cc0000}
.errormsg {color: #cc0000}

/* yellow dialog cards */
.d {padding: 10px; background-color:#FFF4c2; border: solid 1px #FFcc33; line-height:120%; white-space: nowrap}

/* gray sign-in card */
.si td {border: solid 1px #aaaaaa; background-color:#eeeeee; padding:10px; line-height:140%; white-space: nowrap;}

/* notification banner */
.nb { margin: 5px;}
.nb span {background-color: #fad163; padding: 1px 15px; -moz-border-radius: 5px;}


/* style for the user page */
.up {line-height:130%;}

/* user page sections */
.ups { margin: 0 0 15px 15px; border-collapse: collapse; white-space: nowrap;}
.ups .n { width: 8em; padding-right: 25px; text-align: right;}
.ups .s td {padding-top: 20px;}
.ups .vl { border-bottom: solid 1px #dddddd;}
.ups td {padding: 3px 0px;}



/* settings pages */

.so { border-collapse: collapse; table-layout: fixed; }
.so .n { width: 12em; vertical-align: top; white-space:nowrap;}
.so td { padding-top:18px;}
.so .b { white-space: nowrap; border: solid 1px #dddddd;  padding: 5px; overflow: hidden; text-overflow: ellipsis;}

.soi { border-collapse: collapse; margin-top: 10px;}
.soi td {width: 200px;padding-top:10px;}

.imgbox { border: solid 1px #dddddd;  padding: 5px; margin: 2px;}




