<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2016-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>oscm-rest-api-subscription</display-name>
  <filter>
    <display-name>BasicAuthFilter</display-name>
    <filter-name>BasicAuthFilter</filter-name>
    <filter-class>org.oscm.rest.common.BasicAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BasicAuthFilter</filter-name>
    <servlet-name>*</servlet-name>
  </filter-mapping>
</web-app>