<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd"
         id="oscm-rest-api-trigger" version="3.1">
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>bss-realm</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured REST Service with JAAS</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>SUPPLIER</role-name>
    </security-role>
    <security-role>
        <role-name>TECHNOLOGY_PROVIDER</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMER</role-name>
    </security-role>
    <security-role>
        <role-name>PLATFORM_OPERATOR</role-name>
    </security-role>
    <security-role>
        <role-name>MARKETPLACE_OWNER</role-name>
    </security-role>
    <security-role>
        <role-name>BROKER</role-name>
    </security-role>
    <security-role>
        <role-name>RESELLER</role-name>
    </security-role>
</web-app>