<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_1.xsd" id="oscm-rest-api-trigger" version="3.0">
  <filter>
    <display-name>BasicAuthFilter</display-name>
    <filter-name>BasicAuthFilter</filter-name>
    <filter-class>org.oscm.rest.common.BasicAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BasicAuthFilter</filter-name>
    <servlet-name>*</servlet-name>
  </filter-mapping>
</web-app>