<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		id="WebApp_ID" version="2.5">
		<display-name>WSDL Deliver Servlet</display-name>
		<servlet id="Servlet_WSDL_DELIVER">
				<servlet-name>WSDLDeliverServlet</servlet-name>
				<servlet-class>org.oscm.servlet.WSDLDeliverServlet</servlet-class>
		</servlet>
		<servlet-mapping>
				<servlet-name>WSDLDeliverServlet</servlet-name>
				<url-pattern>/WSDLDeliverServlet</url-pattern>
		</servlet-mapping>
		<filter>
				<filter-name>WSDLFilter</filter-name>
				<filter-class>org.oscm.filter.WSDLFilter</filter-class>
		</filter>
		<filter-mapping>
				<filter-name>WSDLFilter</filter-name>
				<url-pattern>/*</url-pattern>
		</filter-mapping>
</web-app>
