<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 

<web-app id="JmxStartupServlet" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>Internal JMX Beans</display-name>
  <servlet>
    <servlet-name>JMXStartupServlet</servlet-name>
    <servlet-class>org.oscm.jmx.internal.JmxStartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>
